{% extends 'admin/layout.html' %}

{% block extstyle %}
.container-fluid {
  padding: 20px;
  }
.box {
  margin-bottom: 20px;
  float: left;
  width: 120px;
  }
  .box img {
  max-width: 100%
}
{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{{ url_for('admin.home') }}">Home</a>
    </li>
    <li class="active">豆瓣图片</li>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div id="masonry" class="container-fluid">
			{% for img in images %}
			<div class="box"><img src="/static/images/{{img.imageid}}"></div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}

<!-- page specific plugin scripts -->
<script src="/static/assets/js/jquery.colorbox.min.js"></script>

<!-- ace scripts -->
<script src="/static/assets/js/ace-elements.min.js"></script>
<script src="/static/assets/js/ace.min.js"></script>
<script src="/static/js/masonry-docs.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
	jQuery(function($) {
		var $container = $('#masonry');
		$container.imagesLoaded(function() {
			$container.masonry({
				itemSelector: '.box',
				gutter: 20,
				isAnimated: true,
			});
		});
    });

</script>

{% endblock %}