{% extends 'admin/layout.html' %}

{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{{ url_for('admin.home') }}">Home</a>
    </li>
    <li class="active">豆瓣图片</li>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div>
			<ul class="ace-thumbnails clearfix">
				{% for img in images %}
				<li>
					<a href="/static/images/{{img.imageid}}" data-rel="colorbox">
						<img width="150" height="150" alt="150x150" src="/static/images/{{img.imageid}}" />
						<div class="text">
							<div class="inner">Sample Caption on Hover</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}

<!-- page specific plugin scripts -->
<script src="/static/assets/js/jquery.colorbox.min.js"></script>

<!-- ace scripts -->
<script src="/static/assets/js/ace-elements.min.js"></script>
<script src="/static/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			var $overflow = '';
			var colorbox_params = {
				rel: 'colorbox',
				reposition:true,
				scalePhotos:true,
				scrolling:false,
				previous:'<i class="ace-icon fa fa-arrow-left"></i>',
				next:'<i class="ace-icon fa fa-arrow-right"></i>',
				close:'&times;',
				current:'{current} of {total}',
				maxWidth:'100%',
				maxHeight:'100%',
				onOpen:function(){
					$overflow = document.body.style.overflow;
					document.body.style.overflow = 'hidden';
				},
				onClosed:function(){
					document.body.style.overflow = $overflow;
				},
				onComplete:function(){
					$.colorbox.resize();
				}
			};

			$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
			$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


			$(document).one('ajaxloadstart.page', function(e) {
				$('#colorbox, #cboxOverlay').remove();
		   });
		})
		</script>

{% endblock %}